/crud-sysuser.component.css
/crud-sysuser.component.html
/crud-sysuser.component.ts
/list-sysuser.component.css
/list-sysuser.component.html
/list-sysuser.component.ts
/sysuser.model.ts
/sysuser.service.ts
